header {
  background-color: rgb(59, 59, 56);
  height: 100px;
}
.one {
  display: inline-block;
  vertical-align: center;
  margin-left: 20px;
  margin-right: 100px;
  color: grey
}

#logo {
    float: left;
    padding-left: 140;
    margin: 12px;
}
#otto {
  width: 960px;
  height: 450px;
  margin-top: 25px;
  margin-left: 150px;
}
#pic1 {
  margin-left: 145px;
  width: 300px;
  height: 375px;
  margin-top: 30px;
}
#pic2 {
  margin-left: 30px;
  width: 300px;
  height: 375px;
  margin-top: 30px;
}
#pic3 {
  margin-left: 30px;
  width: 300px;
  height: 375px;
  margin-top: 30px;
}
#pic4 {
  margin-left: 150px;
  width: 480px;
  height: 400px;
  margin-top: 30px;
}
#text {
  position: absolute;
  left: 670px;
  top: 1010px;
  right: 150px;
}
h1 {
  font-weight: bold;
  font-size: 30;
}
p {
  font-size: 16;
}
footer {
  height: 120px;
  background-color: rgb(46, 44, 44);
  margin-top: 25px;
}
#links {
  display: inline-block;
  margin-top: 50px;
  margin-left: 30px; 
  left: 50px;
}
#donate {
  position: absolute;
  width: 300px;
  height: 40px;
  top: 1373px;
  right: 290;
  background-color: aquamarine;
  text-align: center;
}
#pdon{
font-size: 45;
}
#donate:hover{
    background-color: yellow;
}

#callToAction {
  float: right;
  margin-right: 600px;
  margin-top: 0px;

}

/* #middleimg {
    color: black;
    position: static;
    width: 960px;
    height: 450px;
    padding-left: 20px;

  }
  
  header {
    background-color: darkgrey;
    padding: 10px;
    width: 1055px;
    height: 70px;
  }
  
  ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 400px;
  }
  ul img {
    height: 20px;
    float: center;
  }
  li {
    position: absolute;
    padding: 25px;
    top: 10px;
    bottom: 10px;
  }
  li a {
    display: block;
    color: black
  }
  
  .res {
    text-align: left;
  }
  
  .needspace {
    padding: 20px;
    margin-right: 100px;
  }
  
  .subbar {
    position: relative;
    padding: 20px;
    width: 100%;
  }
  .body {
    width: 100%;
  
  }
  #logo {
    position: absolute
    right 50px; 
    width: 200px;
    height: 70px
  }
  .makespace {
    padding: 30px;
  }
  #middlepic {
    margin: 40px;
    text-emphasis: float;
  }
  #text {
    float: right;
  }
  
  #bottompic {
    float: left;
    padding: 20px;
    height:200px;
  }
  
  #footOfPage {
    background-color: #DDD;
    padding: 30px;
    margin: 20px;
    position: bottom;
  } */